.styled-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-size: cover;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(253, 168, 242, 1) 14%,
    rgba(255, 244, 166, 1) 47%,
    rgba(255, 255, 255, 1) 63%
  );
  z-index: -1;
}
