.styled-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 3rem;
  background-size: cover;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(193, 255, 163) 14%,
    rgb(216, 232, 255) 47%,
    rgba(255, 255, 255, 1) 63%
  );
  z-index: -1;
}

.fade {
  scale: 0.7;
  opacity: 0;
  animation: fade 12s linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 900px;
}

@keyframes fade {
  to {
    scale: 1;
    opacity: 1;
  }
}
