#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  max-height: 100vh;
}

main {
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  /* outline: 3px solid red; */
}
